<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ai.padelnews.actualidad</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/cristian/Sites/padel_news/scripts/actualidad_agent.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/cristian/Sites/padel_news</string>
    
    <key>StandardOutPath</key>
    <string>/Users/cristian/Sites/padel_news/scripts/actualidad_agent.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/cristian/Sites/padel_news/scripts/actualidad_agent.err</string>
    
    <key>StartInterval</key>
    <integer>10800</integer>
    
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
